.back {
    margin-right: 20px;
    margin-top: 200px;
    background-color: rgb(68, 68, 131);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 450px;
}
.signin{
   
    margin-top: 200px;
    background-color: rgb(68, 68, 131);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
 
}

